.bradius{
    border-radius:20px  !important;
  }

.logo-login{
  width: 15em;
}

.auth{
  background-image: url('/imgs/fons_auth.png');


}

.inputauth {
  height:35px
}

.img-navbar{
  width: 10em;
}

nav{
  height: 11vh;
  min-height: 75px;
}

.h100{
  height: 100%;
}

.profile-img{
  width:160px;
  max-width: 160px;
}

.username {
  font-size:18px;
}

.w100{
  width: 100%;
  max-width: 160px;
}
.fumadaperfil {
  width:100%;
  max-width:160px;
  margin: auto !important;
}

@media (max-width: 395px) {
  .all-pad {
    padding-left: 0px !important;
    padding-right: 0px !important;

  }
}

.user-img{
  max-height: 55px;
}




/* LO COPIAO */

#body-row {
  margin-left:0;
  margin-right:0;

  height: 89vh;


}

#sidebar-container {
  min-height: 100%;
  height: 100%;
  background-color: #1a1d1f;
  padding: 0;
  max-height: 100%;

}

.sidebar-expanded {
  width: 230px;
}

.sidebar-collapsed {
  width: 60px;
}

#sidebar-container .list-group a {
  height: 50px;
  color: white;
}

#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}
.sidebar-submenu {
  font-size: 0.9rem;
}

.sidebar-separator-title {
  background-color: #1a1d1f;
  height: 35px;
}
.sidebar-separator {
  background-color: #1a1d1f;
  height: 25px;
}
.logo-separator {
  background-color: #1a1d1f;
  height: 60px;
}

#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
content: " \f0d7";
font-family: FontAwesome;  min-height: 100%;
  max-height: 100%;
font-family: FontAwesome;
display: inline;
text-align: right;
padding-left: 10px;
}

.list-group-item{
  background-color: #1a1d1f !important;
}

.list-group a{
  padding-top: 13px;
  background-color: #263238 !important;
}

.list-group a:hover{
  padding-top: 12px;
  background-color: #1a1d1f !important;
}

small{
  color:white;
}




.google-btn {
  width: 100%;
  max-width: 255px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
  }
  .google-icon-wrapper2 {
    position: absolute;
    margin-top: 1px;
    margin-left: 42px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
  }
  .google-icon {
    margin-top: 11px;
    margin-left: 0px;
    width: 18px;
    height: 18px;
    
  }
  .btn-text {
    position: absolute;
    margin: 11px 0 0 90px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Nunito", sans-serif;
  }

.google-btn:active {
    background: #1669F2;
  }


