<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="mbcols card bradius">
        <div class="card-header text-center">
            <h5 class="m-0"><b>Novedades</b></h5>
        </div>
        <div class="card-body">
              
        </div>
      </div>
    </div>

    <div class="mbcols col-sm-12 col-md-6 col-lg-3">
      <div class="card bradius">
        <div class="card-header text-center">
            <h5 class="m-0"><b>Favoritos</b></h5>
        </div>
        <div class="card-body">
                
        </div>
      </div>
    </div>
    <div class="mbcols col-sm-12 col-md-6 col-lg-3">
      <div class="card bradius">
        <div class="card-header text-center">
            <h5 class="m-0"><b>Suscripciones</b></h5>
        </div>
        <div class="card-body">
                
        </div>
      </div>
    </div>

    <div class="mbcols col-sm-12 col-md-6 col-lg-2">
      <div class="card bradius">
        <div class="card-header text-center">
            <h5 class="m-0"><b>Suscritos</b></h5>
        </div>
        <div class="card-body">
                
        </div>
      </div>
    </div>

    <div class="mbcols col-sm-12 col-md-6 col-lg-5">
      <div class="card bradius">
        <div class="card-header text-center">
            <h5 class="m-0"><b>Actividad</b></h5>
        </div>
        <div class="card-body">
                
        </div>
      </div>
    </div>
    
    <div class="mbcols col-sm-12 col-lg-5">
        <div class="card bradius">
          <div class="card-header text-center">
              <h5 class="m-0"><b>Buscar</b></h5>
          </div>
          <div class="card-body">
                  
          </div>
        </div>
      </div>
  </div>
</div>