<div class="container-fluid mt-2">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 middle">
        <mat-tab-group>
          <mat-tab label="Novedades">
            <div class="row m-0">
              <div class="col col-12 col-lg-3 order-0 order-lg-1 m-0">
                <div class="card mt-3 bradius">
                  <div class="card-header text-center">
                    <h5 class="m-0"><b>Creadores</b></h5>
                  </div>
                  <div class="card-body pt-1 pl-3 pr-3 pb-3">
                    <div class="row pt-1 pl-3 pr-3 pb-0">
                      <div *ngFor="let user of usuaris.users" class="col col-12 col-sm-6 col-md-4 col-lg-12 mt-2 ">
                        
                          <div class="row flex-nowrap creadorlink" (click)="viewprofile(user.username)">
                            <div class="m-0 text-center" style="width: fit-content;">
                              <img src="{{user.avatar}}" class="rounded user-img">
                            </div>
                            
                            <div class="col pr-0 text-truncate maxw" style="margin-top:0.24em;">
                              <div class="row pr-0">
                                <div class="col-12 text-truncate ">
                                  <b>{{user.username}}</b>
                                </div>
                              </div>
                              <div *ngIf="user.name != null;" class="row pr-0">
                                <div class="name-search col-12 text-truncate ">
                                  {{user.name}}
                                </div>
                              </div>
                            </div>
                          </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-12 order-1 col-lg-9 order-lg-0 m-0">
                <div class="card mt-3 bradius">
                  <div class="card-header text-center">
                      <h5 class="m-0"><b>Articulos</b></h5>
                  </div>
                  <div class="card-body">
                    
                  </div>
              </div>
            </div>
            </div>
            
          </mat-tab>
          <mat-tab label="Actividad"></mat-tab>
          <mat-tab label="Buscar">
            <div class="card mt-3 bradius">
              <div class="card-header text-center">
                  <h5 class="m-0"><b>Buscar</b></h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col col-12">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><p style="margin:0px"><i class="fas fa-search"></i></p></span>
                      </div>
                      <input class="form-control" placeholder="Buscador" [(ngModel)]="buscador" (keyup)="updatebuscador()" type="text">
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-book-reader"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-12">
                    <mat-tab-group>
                      <mat-tab  label="Usuarios  {{usuarislength()}}">
                        <div class="container-fluid">
                          <div class="mb-1"></div>
                          <div class=" row">
                            <div *ngFor="let users of buscadorresults.users" class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-2 ">
                              <!--<p><b><img src="{{users.avatar}}" class="rounded user-img mr-2">{{users.username}}{{users.name}}</b></p>-->
                              
                                <div class="row" (click)="viewprofile(users.username)">
                                  <div class="m-0 text-center" style="width: fit-content;">
                                    <img src="{{users.avatar}}" class="rounded user-img">
                                  </div>
                                  
                                  <div class="col" style="margin-top:0.24em;">
                                    <div class="row">
                                      <div class="col-12">
                                        <b>{{users.username}}</b>
                                      </div>
                                    </div>
                                    <div *ngIf="users.name != null;" class="row">
                                      <div class="name-search col-12">
                                        {{users.name}}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              
                            </div>
                          </div>
                        </div>
                        
                    </mat-tab>
                    <mat-tab label="Articulos {{articleslength()}}"> 
                      <div class="container-fluid">
                        <div class="mb-1"></div>
                        <div class="row">
                          <div *ngFor="let article of buscadorresults.articles" class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mt-2 ">
                            <!--<p><b><img src="{{users.avatar}}" class="rounded user-img mr-2">{{users.username}}{{users.name}}</b></p>-->
                            <div class="row">
                              <div class="m-0 text-center" style="width: fit-content;">
                                <img src="{{article.foto}}" class="rounded user-img">
                              </div>
                              
                              <div class="col" style="margin-top:0.24em;">
                                <div class="row">
                                  <div class="col-12">
                                    <b>{{article.name}}</b>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="name-search col-12">
                                    {{article.creador.name}} - {{article.creador.username}}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-tab>
    
                    <mat-tab label="Planes {{planslength()}}"> 
                      <div class="container-fluid">
                        <div class="mb-1"></div>
  
                        <div class="row">
                          <div *ngFor="let plan of buscadorresults.plans" class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-2 ">
                            <!--<p><b><img src="{{users.avatar}}" class="rounded user-img mr-2">{{users.username}}{{users.name}}</b></p>-->
                            <div class="row">
                              <div class="m-0 text-center" style="width: fit-content;">
                                <img src="{{plan.foto}}" class="rounded user-img">
                              </div>
                              
                              <div class="col" style="margin-top:0.24em;">
                                <div class="row">
                                  <div class="col-12">
                                    <b>{{plan.name}}</b>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="name-search col-12">
                                    {{plan.creador.name}} - {{plan.creador.username}}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-tab>
                    </mat-tab-group>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  <!--
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="mbcols card bradius">
          <div class="card-header text-center">
              <h5 class="m-0"><b>Novedades</b></h5>
          </div>
          <div class="card-body">
                
          </div>
        </div>
      </div>
  
      <div class="mbcols col-sm-12 col-md-6 col-lg-3">
        <div class="card bradius">
          <div class="card-header text-center">
              <h5 class="m-0"><b>Favoritos</b></h5>
          </div>
          <div class="card-body">
                  
          </div>
        </div>
      </div>
      <div class="mbcols col-sm-12 col-md-6 col-lg-3">
        <div class="card bradius">
          <div class="card-header text-center">
              <h5 class="m-0"><b>Suscripciones</b></h5>
          </div>
          <div class="card-body">
                  
          </div>
        </div>
      </div>
  
      <div class="mbcols col-sm-12 col-md-6 col-lg-2">
        <div class="card bradius">
          <div class="card-header text-center">
              <h5 class="m-0"><b>Usuarios destacados</b></h5>
          </div>
          <div class="card-body">
              <div *ngFor="let usuari of usuaris.data;" class="row">
                <div class="col">   
                  <p><img src="{{usuari.avatar}}" class="user-img mr-2">{{usuari.username}}</p>
                </div>
              </div>
          </div>
        </div>
      </div>
  
      <div class="mbcols col-sm-12 col-md-6 col-lg-5">
        <div class="card bradius">
          <div class="card-header text-center">
              <h5 class="m-0"><b>Actividad</b></h5>
          </div>
          <div class="card-body">
                  
          </div>
        </div>
      </div>
      
      <div class="mbcols col-sm-12 col-lg-5">
          <div class="card bradius">
            <div class="card-header text-center">
                <h5 class="m-0"><b>Buscar</b></h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col col-12">
                  <input [(ngModel)]="buscador" (keyup)="updatebuscador()" type="text">
                </div>
              </div>
              <div class="row">
                <div class="col col-12">
                  <mat-tab-group>
                    <mat-tab  label="Usuarios">
                      <div class="container-fluid">
                        <div class="mb-3"></div>
                        <div *ngFor="let users of buscadorresults.users" class="row">
                          <div class="col col-12">
                            <p><img src="{{users.avatar}}" class="user-img mr-2">{{users.username}}</p>
                          </div>
                        </div>
                      </div>
                      
                  </mat-tab>
                  <mat-tab label="Articulos"> 
                    <div class="container-fluid">
                      <div *ngFor="let article of buscadorresults.articles" class="row">
                        <div class="col col-12">
                          {{article.name}}
                        </div>
                      </div>
                    </div>
                  </mat-tab>
  
                  <mat-tab label="Planes"> 
                    <div class="container-fluid">
                      <div *ngFor="let plan of buscadorresults.plans" class="row">
                        <div class="col col-12">
                          {{plan.name}}
                        </div>
                      </div>
                    </div>
                  </mat-tab>
              
                  </mat-tab-group>
                </div>
              </div>
              
              
            </div>
          </div>
        </div>
    </div>-->
  </div>