<div class="container-fluid mt-2">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 middle">
        <mat-tab-group>
          <mat-tab label="Novedades">
            <div class="row m-0">
              <div class="col col-12 col-lg-3 order-0 order-lg-1 m-0">
                <div class="card mt-3 bradius">
                  <div class="card-header text-center">
                    <h5 class="m-0"><b>Creadores</b></h5>
                  </div>
                  <div class="card-body pt-1 pl-3 pr-3 pb-3">
                    <div class="row pt-1 pl-3 pr-3 pb-0">
                      <div *ngFor="let user of usuaris.users" class="col col-12 col-sm-6 col-md-4 col-lg-12 mt-2 ">
                        
                          <div class="row flex-nowrap creadorlink" (click)="viewprofile(user.username)">
                            <div class="m-0 text-center" style="width: fit-content;">
                              <img src="{{user.avatar}}" onerror="this.src='/imgs/default.png';" class="rounded user-img">
                            </div>
                            
                            <div class="col pr-0 text-truncate maxw" style="margin-top:0.24em;">
                              <div class="row pr-0">
                                <div class="col-12 text-truncate ">
                                  <b>{{user.username}}</b>
                                </div>
                              </div>
                              <div *ngIf="user.name != null;" class="row pr-0">
                                <div class="name-search col-12 text-truncate ">
                                  {{user.name}}
                                </div>
                              </div>
                            </div>
                          </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col col-12 order-1 col-lg-9 order-lg-0 m-0">
                <div class="card mt-3 bradius">
                  <div class="card-header text-center">
                      <h5 class="m-0"><b>Articulos</b></h5>
                  </div>
                  <div class="card-body">
                            <div class="row">
                              <div class="col-12 col-sm-6">
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2"><i class="fas fa-2x fa-search"></i></span>
                                  </div>
                                    <input style="height: 46px;" class="form-control mr-4 me-2" type="search" [(ngModel)]="buscadornoapi" placeholder="Buscar" aria-label="Search">
                                </div>
                              </div>

                              <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="input-group mb-3">
                                  <select #select style="height: 46px;" (change)="camporder(select.value)" class="ml-4 form-control"  aria-label="Default select example" [(ngModel)]="order">
                                    <option value="name">Nom</option>
                                    <option selected value="created_at">Antiguitat</option>
                                    <option value="likes">Likes</option>
                                    <option value="user_id">Creador</option>
                                  </select>
                                  <div class="input-group-append" >
                                    <button (click)="revesordref()" class="btn btn-info input-group-text" id="basic-addon2"><i class="fas fa-2x fa-sort"></i></button>
                                  </div>
                                </div>
                              </div>
                        
                            </div>                 

                    <div *ngIf="articles.length == 0">
                      <div class="col-12">
                          <center>No hay articulos</center>
                      </div>
                  </div>
                    <div *ngIf="articles.length != 0" class="row">
                      <div *ngFor="let art of articles | filter:buscadornoapi | orderBy:order:revesordre:true; index as i " class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4">
                        <div class="card">
                            <div class="card-header p-0">
                                <img class="w-100" src="{{art.foto}}" onerror="this.src='/imgs/default-book.png';" alt="">
                            </div>
                            <div class="card-body">
                              <center>
                                <div class="row pr-2 pl-2 flex-nowrap creadorlink" (click)="viewprofile(art.creador.username)">
                                  <div class="m-0 text-center" style="width: fit-content;">
                                    <img src="{{art.creador.avatar}}" onerror="this.src='/imgs/default.png';" class="rounded user-img">
                                  </div>
                                  
                                  <div class="col pr-0 text-truncate maxw" style="margin-top:0.24em;">
                                    <div class="row pr-0">
                                      <div class="col-12 text-truncate ">
                                        <b>{{art.creador.username}}</b>
                                      </div>
                                    </div>
                                    <div *ngIf="art.creador.name != null;" class="row pr-0">
                                      <div class="name-search col-12 text-truncate ">
                                        {{art.creador.name}}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </center>
                              <hr>
                            
                                <div class="w-100 text-center">
                                    <h6><b>{{art.name}}</b></h6>
                                </div>
                                <div class="text-justify">
                                    {{ art.text.substring(0,100) }} <span *ngIf="art.text.length > 100">...</span> 
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row justify-content-space-between">
                                    
                                    <div class="col-12 p-3 text-center">
                                        <button (click)="veurearticle(art)" class="w-100 btn btn-info">
                                          <fa-icon [icon]="veure"></fa-icon>
                                          <b> Leer</b>
                                        </button>
                                       

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            
          </mat-tab>
          <mat-tab label="Buscar">
            <div class="card mt-3 bradius">
              <div class="card-header text-center">
                  <h5 class="m-0"><b>Buscar</b></h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col col-12">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><p style="margin:0px"><i class="fas fa-search"></i></p></span>
                      </div>
                      <input class="form-control" placeholder="Buscador" [(ngModel)]="buscador" (keyup)="updatebuscador()" type="text">
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-book-reader"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-12">
                    <mat-tab-group>
                      <mat-tab  label="Usuarios  {{usuarislength()}}">
                        <div class="container-fluid">
                          <div class="mb-1"></div>
                          <div class=" row">
                            <div *ngFor="let users of buscadorresults.users" class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 mt-2 ">
                              <!--<p><b><img src="{{users.avatar}}" class="rounded user-img mr-2">{{users.username}}{{users.name}}</b></p>-->
                              
                                <div class="row creadorlink" (click)="viewprofile(users.username)">
                                  <div class="m-0 text-center" style="width: fit-content;">
                                    <img src="{{users.avatar}}"  onerror="this.src='/imgs/default.png';" class="rounded user-img">
                                  </div>
                                  
                                  <div class="col" style="margin-top:0.24em;">
                                    <div class="row">
                                      <div class="col-12">
                                        <b>{{users.username}}</b>
                                      </div>
                                    </div>
                                    <div *ngIf="users.name != null;" class="row">
                                      <div class="name-search col-12">
                                        {{users.name}}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              
                            </div>
                          </div>
                        </div>
                        
                    </mat-tab>
                    <mat-tab label="Articulos {{articleslength()}}"> 
                      <div class="container-fluid">
                        <div class="mb-1"></div>
                        <div class="row">
                          <div *ngFor="let article of buscadorresults.articles" class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mt-2 ">
                            <!--<p><b><img src="{{users.avatar}}" class="rounded user-img mr-2">{{users.username}}{{users.name}}</b></p>-->
                            <div class="row">
                              <div class="m-0 text-center" style="width: fit-content;">
                                <img src="{{article.foto}}" onerror="this.src='/imgs/default-book.png';" class="rounded user-img">
                              </div>
                              
                              <div class="col text-truncate flex-nowrap" style="margin-top:0.24em;">
                                <div class="row">
                                  <div class="text-truncate col-12">
                                    <b>{{article.name}}</b>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="text-truncate name-search col-12">
                                    {{article.creador.name}} - {{article.creador.username}}
                                  </div>
                                </div>
                              </div>
                              <div class="col-3 pt-2 text-center justify-content-center align-items-center">
                                <button (click)="veurearticle(article)" class="btn btn-info">
                                  <i class="fas fa-eye"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-tab>
    
                    <mat-tab label="Planes {{planslength()}}"> 
                      <div class="container-fluid">
                        <div class="mb-1"></div>
  
                        <div class="row">
                          <div *ngFor="let plan of buscadorresults.plans" class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 mt-2 ">
                            <!--<p><b><img src="{{users.avatar}}" class="rounded user-img mr-2">{{users.username}}{{users.name}}</b></p>-->
                            <div class="row">
                              <div class="m-0 text-center" style="width: fit-content;">
                                <img src="{{plan.foto}}" onerror="this.src='/imgs/default-plan.png';" class="rounded user-img">
                              </div>
                              
                              <div class="col text-truncate flex-nowrap" style="margin-top:0.24em;">
                                <div class="row">
                                  <div class="col-12 text-truncate">
                                    <b>{{plan.name}}</b>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="name-search text-truncate col-12 ">
                                    {{plan.creador.name}} - {{plan.creador.username}}
                                  </div>
                                </div>
                              </div>
                              <div class="col-3 pt-2 text-center justify-content-center align-items-center">
                                <button (click)="suscribe(plan.id)" class="btn btn-success">
                                  <i class="fas fa-plus-square"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-tab>
                    </mat-tab-group>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Actividad">
            <div class="card mt-3 bradius">
              <div class="card-header text-center">
                  <h5 class="m-0"><b>Actividad</b></h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col col-12">
                    <mat-tab-group>
                      <mat-tab label="Likes">
                        <br> 
                        <b>
                          <p *ngFor="let like of activitat.likes">
                           
                              <span class="text-info" *ngIf="like.text == 'like'">
                                El usuario <u>{{like.user.username}}</u> ha dado like al artículo <u>"{{like.article.name}}"</u> del usuario <u>{{like.creador.username}}</u>    ({{data(like.time)}})
                              </span> 
                              
                              <span class="text-danger" *ngIf="like.text == 'dislike'">
                                El usuario <u>{{like.user.username}}</u> ha quitado su like al artículo <u>"{{like.article.name}}"</u> del usuario <u>{{like.creador.username}}</u>    ({{data(like.time)}})
                              </span>
                          </p>
                        </b> 
                      </mat-tab>
                      <mat-tab label="Suscripciones">
                        <br>
                        <b>
                          <p *ngFor="let sub of activitat.subs">
                            <span class="text-info" *ngIf="sub.text == 'suscrito'"> 
                              El usuario <u>{{sub.user.username}}</u> se ha suscrito al plan <u>"{{sub.plan.name}}" de {{sub.plan.preu}}€</u> del usuario <u>{{sub.creador_del_plan.username}}</u>     ({{data(sub.time)}})
                            </span> 
                            <span class="text-danger" *ngIf="sub.text == 'borrado'">
                              El usuario <u>{{sub.user.username}}</u> ha cancelado su suscripcion al plan <u>"{{sub.plan.name}}" de {{sub.plan.preu}}€</u> del usuario <u>{{sub.creador_del_plan.username}}</u>     ({{data(sub.time)}}) 
                            </span> 
                          </p>
                        </b>
                      </mat-tab>
                      <mat-tab label="Articulos y Planes">
                        <br>
                        <b>
                          <p *ngFor="let plan of activitat.plan">
                            <span class="text-info" *ngIf="plan.text == 'añadido'"> 
                              El usuario <u>{{plan.user.username}}</u> ha añadido su artículo <u>"{{plan.article.name}}"</u> al plan <u>"{{plan.plan.name}}" de {{plan.plan.preu}}€</u>   ({{data(plan.time)}})
                            </span> 
                            <span class="text-danger" *ngIf="plan.text == 'quitado'">
                              El usuario <u>{{plan.user.username}}</u> ha retirado su artículo <u>"{{plan.article.name}}"</u> del plan <u>"{{plan.plan.name}}" de {{plan.plan.preu}}€</u>   ({{data(plan.time)}})
                            </span> 
                          </p>
                        </b>
                      </mat-tab>
                      <mat-tab label="Comentarios">
                        <br>
                        <b>
                          <p *ngFor="let coment of activitat.coments">
                            <span class="text-info" *ngIf="coment.text == 'comentar'"> 
                              El usuario <u>{{coment.user.username}}</u> ha comentado <em>'{{ coment.comentari.text.substring(0,20) }} <span *ngIf="coment.comentari.text.length > 20">...</span>'</em> en el artículo <u>"{{coment.article.name}}"</u> de <u>"{{coment.creador.username}}"</u>   ({{data(coment.time)}})
                            </span> 
                            <span class="text-danger" *ngIf="coment.text == 'borrar'">
                              El usuario <u>{{coment.user.username}}</u> ha borrado uno de sus comentarios del artículo <u>"{{coment.article.name}}"</u> de <u>{{coment.creador.name}}</u>   ({{data(coment.time)}})
                            </span> 
                          </p>
                        </b>
                      </mat-tab>
                    </mat-tab-group>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  <!--
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="mbcols card bradius">
          <div class="card-header text-center">
              <h5 class="m-0"><b>Novedades</b></h5>
          </div>
          <div class="card-body">
                
          </div>
        </div>
      </div>
  
      <div class="mbcols col-sm-12 col-md-6 col-lg-3">
        <div class="card bradius">
          <div class="card-header text-center">
              <h5 class="m-0"><b>Favoritos</b></h5>
          </div>
          <div class="card-body">
                  
          </div>
        </div>
      </div>
      <div class="mbcols col-sm-12 col-md-6 col-lg-3">
        <div class="card bradius">
          <div class="card-header text-center">
              <h5 class="m-0"><b>Suscripciones</b></h5>
          </div>
          <div class="card-body">
                  
          </div>
        </div>
      </div>
  
      <div class="mbcols col-sm-12 col-md-6 col-lg-2">
        <div class="card bradius">
          <div class="card-header text-center">
              <h5 class="m-0"><b>Usuarios destacados</b></h5>
          </div>
          <div class="card-body">
              <div *ngFor="let usuari of usuaris.data;" class="row">
                <div class="col">   
                  <p><img src="{{usuari.avatar}}" class="user-img mr-2">{{usuari.username}}</p>
                </div>
              </div>
          </div>
        </div>
      </div>
  
      <div class="mbcols col-sm-12 col-md-6 col-lg-5">
        <div class="card bradius">
          <div class="card-header text-center">
              <h5 class="m-0"><b>Actividad</b></h5>
          </div>
          <div class="card-body">
                  
          </div>
        </div>
      </div>
      
      <div class="mbcols col-sm-12 col-lg-5">
          <div class="card bradius">
            <div class="card-header text-center">
                <h5 class="m-0"><b>Buscar</b></h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col col-12">
                  <input [(ngModel)]="buscador" (keyup)="updatebuscador()" type="text">
                </div>
              </div>
              <div class="row">
                <div class="col col-12">
                  <mat-tab-group>
                    <mat-tab  label="Usuarios">
                      <div class="container-fluid">
                        <div class="mb-3"></div>
                        <div *ngFor="let users of buscadorresults.users" class="row">
                          <div class="col col-12">
                            <p><img src="{{users.avatar}}" class="user-img mr-2">{{users.username}}</p>
                          </div>
                        </div>
                      </div>
                      
                  </mat-tab>
                  <mat-tab label="Articulos"> 
                    <div class="container-fluid">
                      <div *ngFor="let article of buscadorresults.articles" class="row">
                        <div class="col col-12">
                          {{article.name}}
                        </div>
                      </div>
                    </div>
                  </mat-tab>
  
                  <mat-tab label="Planes"> 
                    <div class="container-fluid">
                      <div *ngFor="let plan of buscadorresults.plans" class="row">
                        <div class="col col-12">
                          {{plan.name}}
                        </div>
                      </div>
                    </div>
                  </mat-tab>
              
                  </mat-tab-group>
                </div>
              </div>
              
              
            </div>
          </div>
        </div>
    </div>-->
  </div>