/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito');
*{
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
}

.mbcols{
    margin-bottom: 20px;
}
html, body { height: 100%; }
body { margin: 0; font-family: "Nunito",  sans-serif; }

.mat-tab-label-content{
    font-weight: bold;
    color: black;

}

.mat-tab-label{
    
    border-radius: 5px 5px 0px 0px;
    margin-right: 1px;
}

.bradius {
    border-radius:16px;
}
a { color: inherit; 


} 
